
.footer{
  background: #ad9071;
  color: #000000;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}

.footer-top {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 6vh;
  padding-top: 6vh;
  position: relative; /* Necesario para usar pseudo-elemento ::after */
  
}

.footer-top::after {
  content: '';
  position: absolute;
  top: 0; /* Coloca el borde en la parte superior */
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* Ajusta el ancho del borde según lo necesites */
  border-top: 2px solid #211c06; /* Aquí defines el borde superior */
}


button {
  width: 160px;
  height: 60px;
  overflow: hidden;
  border: none;
  color: #000000;
  background: none;
  position: relative;
  padding-bottom: 2em;
  cursor: pointer;
}

button > div,
button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

button:before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 10px;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: currentColor;
  transition: transform 0.25s ease-out;
}

button:hover:before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button .clone > *,
button .text > * {
  opacity: 1;
  font-size: 20px;
  transition: 0.2s;
  margin-left: 4px;
}

button .clone > * {
  transform: translateY(60px);
}

button:hover .clone > * {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .text > * {
  opacity: 1;
  transform: translateY(-60px);
  transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

button:hover .clone > :nth-child(1) {
  transition-delay: 0.15s;
}

button:hover .clone > :nth-child(2) {
  transition-delay: 0.2s;
}

button:hover .clone > :nth-child(3) {
  transition-delay: 0.25s;
}

button:hover .clone > :nth-child(4) {
  transition-delay: 0.3s;
}
/* icon style and hover */
button svg {
  width: 20px;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(-50deg);
  transition: 0.2s ease-out;
}

button:hover svg {
  transform: translateY(-50%) rotate(-90deg);
}



.footer-descrp {
  height: 18vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; 
  margin: none;
  padding-bottom: 15px;
  font-weight: bold;
  flex-wrap: wrap;
  
}

.footer-descrp::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; 
  border-bottom: 2px solid #0b0202; 
}

  
.footer-bottom {
  background-color: #755f47;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-wrap: wrap;
  
}


.wrapper .button {
  display: flex;
  align-items: center;
  height: 60px;
  width: 60px;
  text-decoration: none;
  margin: 0 15px;
  overflow: hidden;
  background: #755f47;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  
}
.wrapper .button:hover {
  width: 180px;
}
.wrapper .button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  color: #000000;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
  flex-shrink: 0;
}
.wrapper .button:nth-child(1):hover .icon {
  background: #2852a8;
}
.wrapper .button:nth-child(2):hover .icon {
  background: #042f49;
}
.wrapper .button:nth-child(3):hover .icon {
  background: #9dee80;
}
.wrapper .button:nth-child(4):hover .icon {
  background: #86245c;
}
.wrapper .button:nth-child(5):hover .icon {
  background: #e9e227;
}

.wrapper .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i {
  color: #000000;
}
.wrapper .button span {
  font-size: 17px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1) span {
  color: #000000;
}
.wrapper .button:nth-child(2) span {
  color: #000000;
}
.wrapper .button:nth-child(3) span {
  color: #000000;
}
.wrapper .button:nth-child(4) span {
  color: #000000;
}
.wrapper .button:nth-child(5) span {
  color: #000000;
}
