@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

:root {
  font-family:  "Bad Script", cursive;
  line-height: 1.5;
  font-weight: 400;
}

.tipoL{
  font-family:  "Bad Script", cursive;
}


