@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Overlock+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


.fuente-letra{
  font-family: "Coming Soon", cursive;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}

.fuente-titulo {
  font-family: "Overlock SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fuente-letra2 {
  font-family: "Cagliostro", sans-serif;
  font-weight: 350;
  font-style: normal;
}

.fuente-letra3 {
  font-family: "Amarante", serif;
  font-weight: 400;
  font-style: normal;
}

.fuente-letra4 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #f9f0e7;
  /* background-image: image-set("./assets/images/misc/fondo2.png"); */

}

